<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>image-link-point-example</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css' />
  <style>
    body {
      margin: 0;
      overflow-y: scroll;
    }

    .drawing {
      position: relative;
      font-size: 0;
      display: inline-block;
    }

    .drawing.max {
      width: 100%;
    }

    .drawing.max>img {
      width: 100%;
    }

    .drawing>a {
      display: none;
    }

    .drawing>a[style]:not([style=""]) {
      width: 20px;
      height: 20px;
      background: red;
      display: block;
      position: absolute;
      border-radius: 20px;
      margin-left: -10px;
      margin-top: -10px;
      color: white;
      text-align: center;
      line-height: 20px;
      font-size: initial;
    }

    ol li {
      border: 2px solid cornflowerblue;
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 10px;
      max-width: 750px;
    }
  </style>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      new Vue({
        el: '#app',
        data() {
          return {
            originWidth: 0,
            originHeight: 0,
            scaleWidth: 0,
            scaleHeight: 0,
            originX: 0,
            originY: 0,
            isOverWidth: false,
            parentsPadding: 0,
            json: {}
          }
        },
        mounted() {
          var input = { "image": "https://obcdn4.obdesign.com.tw/images/ObdesignBanner/OUTLET/images/180702-BN55-1920x820.jpg", "key": "DA0221", "data": [] }
          this.json = input
          window.addEventListener('resize', () => {
            this.resizeDrawing()
          }, false)
          this.$refs.img.onload = () => {
            this.originWidth = this.$refs.img.naturalWidth
            this.originHeight = this.$refs.img.naturalHeight
            this.parentsPadding = this.$refs.img.x * 2
            this.resizeDrawing()
          }
          this.$refs.img.onclick = e => {
            this.json.data.push({
              index: this.json.data.length,
              x: this.toFixed(e.offsetX * this.scaleWidth),
              y: this.toFixed(e.offsetY * this.scaleHeight)
            })
          }
          this.$refs.img.onmousemove = e => {
            this.originX = e.offsetX
            this.originY = e.offsetY
          }
        },
        methods: {
          addButton() {
            this.json.data.push({
              index: this.json.data.length
            })
          },
          removeButton(item) {
            var index = this.json.data.indexOf(item)
            if (index !== -1) {
              this.json.data.splice(index, 1)
            }
          },
          saveBotton() {
            alert(JSON.stringify(this.json))
          },
          setPoint(item) { // item x and y is origin image size
            if (!item.x || !item.y) return null
            return {
              left: (100 * (item.x / this.originWidth)) + '%',
              top: (100 * (item.y / this.originHeight)) + '%'
            }
          },
          resizeDrawing() {
            if (this.originWidth > document.body.clientWidth - this.parentsPadding) {
              this.scaleWidth = this.originWidth / (document.body.clientWidth - this.parentsPadding)
              this.scaleHeight = this.originWidth / (document.body.clientWidth - this.parentsPadding)
              this.isOverWidth = true
            } else {
              this.scaleWidth = this.originWidth / this.$refs.img.width
              this.scaleHeight = this.originHeight / this.$refs.img.height
              this.isOverWidth = false
            }
          },
          toFixed(number) {
            return Math.round(number)
          }
        }
      })
    }, false)
  </script>
</head>

<body>
  <div id="app" class="container-fluid">
    <div class="card">
      <div class="card-header text-white bg-primary">
        請由下圖點擊添加錨點
      </div>
      <div class="card-body">
        <div class="drawing" :class="{max:isOverWidth}">
          <img :src="json.image" ref="img">
          <a v-for="(item, index) in json.data" :style="setPoint(item)">{{item.index}}</a>
        </div>
        <div>
          <span>原圖X座標：{{toFixed(originX*scaleWidth)}}px, 原圖Y座標：{{toFixed(originY*scaleHeight)}}px</span>
        </div>
        <input type="button" value="無錨點新增" @click="addButton">
      </div>
    </div>
    <div class="card">
      <div class="card-header text-white bg-primary">
        各別錨點詳細資訊設定
      </div>
      <div class="card-body">
        <div class="card" v-for="(item, index) in json.data">
          <div class="card-body">
            <table>
              <tr>
                <td>錨點編號</td>
                <td>
                  <input type="number" v-model="json.data[index].index">
                </td>
                <td>座標X</td>
                <td>
                  <input type="number" v-model="json.data[index].x">
                </td>
                <td>座標Y</td>
                <td>
                  <input type="number" v-model="json.data[index].y">
                </td>
                <td rowspan="2">
                  <input type="button" value="刪除" @click="removeButton(item)">
                </td>
              </tr>
              <tr>
                <td>商品編號</td>
                <td>
                  <input type="text" v-model="json.data[index].product">
                </td>
                <td>自訂連結</td>
                <td>
                  <input type="text" v-model="json.data[index].url">
                </td>
                <td>錨點說明</td>
                <td>
                  <input type="text" v-model="json.data[index].tip">
                </td>
              </tr>
            </table>
          </div>

        </div>
        <input type="button" value="儲存" @click="saveBotton">
      </div>
    </div>
  </div>
</body>

</html>