<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>image-link-point-example</title>
  <style>
    body {
      margin: 0;
    }
    .drawing {
      position: relative;
      width: 256px;
      font-size: 0;
    }
    .drawing>img {
      width: 100%;
    }
    .drawing>a {
      display: none;
    }
    .drawing>a[style]:not([style=""]) {
      width: 20px;
      height: 20px;
      background: red;
      display: block;
      position: absolute;
      border-radius: 20px;
      margin-left: -10px;
      margin-top: -10px;
      color: white;
      text-align: center;
      line-height: 20px;
      font-size: initial;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      new Vue({
        el: '#app',
        data() {
          return {
            originWidth: 0,
            originHeight: 0,
            scaleWidth: 0,
            scaleHeight: 0,
            originX: 0,
            originY: 0,
            list: [
              /*
              {
                x: 0, //origin image x point
                y: 0, //origin image y point
              }
              */
            ]
          }
        },
        mounted() {
          this.$refs.img.onload = () => {
            this.originWidth = this.$refs.img.naturalWidth
            this.originHeight = this.$refs.img.naturalHeight,
              this.scaleWidth = this.originWidth / this.$refs.img.width
            this.scaleHeight = this.originHeight / this.$refs.img.height
          }
          this.$refs.img.onclick = e => {
            this.list.push({
              index: this.list.length,
              x: e.offsetX * this.scaleWidth,
              y: e.offsetY * this.scaleHeight
            })
          }
          this.$refs.img.onmousemove = e => {
            this.originX = e.offsetX
            this.originY = e.offsetY
          }
        },
        methods: {
          addButton() {
            this.list.push({
              index: this.list.length,
            })
          },
          removeButton(item) {
            var index = this.list.indexOf(item)
            if (index !== -1) {
              this.list.splice(index ,1)
            }
            
          },
          setPoint(item) { // item x and y is origin image size
            if (!item.x || !item.y) return null
            return {
              left: (100 * (item.x / this.originWidth)) + '%',
              top: (100 * (item.y / this.originHeight)) + '%'
            }
          }
        }
      })
    }, false)
  </script>
</head>
<body>
  <div id="app">
    <div class="drawing">
      <img src="https://1.bp.blogspot.com/-IfogqTLXAUw/Vzt9kQrGr-I/AAAAAAAAGHQ/MFyg7llkkE8UvrfiT58SiOSkvkzuNGLlgCLcB/s1600/16pxGrid_256x256.png" ref="img">
      <a v-for="(item, index) in list" :style="setPoint(item)">{{item.index}}</a>
    </div>
    <div>x:{{originX*scaleWidth}}, y:{{originY*scaleHeight}}</div>
    <input type="button" value="Add" @click="addButton">
    <ul>
      <li v-for="(item, index) in list">
        <div>
          錨點編號<input type="number" v-model="list[index].index">
          座標X<input type="number" v-model="list[index].x">
          座標Y<input type="number" v-model="list[index].y"><br>
          商品編號<input type="text" v-model="list[index].seriesID">
          自訂連結<input type="text" v-model="list[index].url">
          錨點說明<input type="text" v-model="list[index].tip">
          <input type="button" value="刪除" @click="removeButton(item)">
        </div>
      </li>
    </ul>
  </div>
</body>
</html>